{% extends 'layout.njk' %}
  {% block head %}

        <title>Teacher profile</title> 
        <link rel="stylesheet" href="/form.css"/>
    
    {% endblock %}

{% block content %}

<form class="card" method="POST" action="/teachers">

    <section class="image" style="background:url(https://source.unsplash.com/collection/10659281/300x300) no-repeat center center /cover"></section>

     <section class="details">

         <div id="title">Teacher Profile</div>
        
        <div class="item">
            <div id="top-item">Avatar url</div>
            <div>
                <input type="url" placeholder="http://photo-address"
                       name="avatar_url"/> 
                </div>
        </div>

        <div class="item">
            <div>Name</div>
            <div>
                <input type="text" placeholder="Full name"
                       name="name"/>
            </div>
        </div>


    <div class="item">
            <div>Date of birth</div>

            <div>
                <input type="date" 
                       name="dob" />
            </div>
     </div>       

<div class="item">
            <div>Degree</div>

            <div>
                <select name="degree">

                 <option>High School</option>  
                 <option selected>Associates</option>      
                 <option>Bachelor</option>
                 <option>Masters</option>
                 <option>Doctorate</option>

                </select>
                               
            </div>

     </div>  

<div class="item">

            <div>Class delivery method</div>
            <div>
            <span>
                <input type="radio" name="delivery" id="person" value="P" checked/><label for="person">Presential</label></span>
            <span>
                <input type="radio" name="delivery" id="online" value="E"/><label for="online">E-learning</label></span>

            </div>
            
     </div>  

     <div class="item">

            <div>Subjects taught</div>
            <div>
            <span id="form">
                <input type="text" placeholder="Separate subjects you teach by comma."
                       name="subjects"/></span>
            
            </div>
            
     </div>  
            <button type="submit">Submit</button>

     </section>

</form>


{% endblock content %}