<!DOCTYPE html>
<html> 

<head>         
    
    {% block head %}

        <title>Individual Classes</title> 
    
    {% endblock %}
    
    <link rel="stylesheet" href="/styles.css">     
     
</head>    
    <body>        
        <header>
            <div class="links">
                <a class='active' href="/">Teachers</a>    
                <a href="/Students">Students</a>
            </div>
    </header>

    {% block content %}{% endblock %}
       
</body>

</html>


