{% extends "layout.njk" %}

{% block title %}
    <title>Page not found</title>
{% endblock %}

{% block content %}

    <div class="not-found">
        <div id="recipe-not-found">Content not found.</div>
        <div id="redirect">We are redirecting you to the main page.</div>
    </div>

</div>

<script>
    setTimeout(()=> { location.href = "/" }, 2000)
</script>

{% endblock %}