{% extends 'layout.njk' %}

{% block content %}

    <div class="card table-container">
        <table width="100%">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Follow ups</th>
                    <th>Action</th>
                </tr>   
            </thead>

            <tbody>
                {% for teacher in teachers %}
                <tr>
                    <td><span style="background-image: url({{teacher.avatar_url}})"></span>{{teacher.name}}</td>
                   
                    <td>
                     {% for subject in teacher.subjects %}
                         <span>{{subject}}</span>
                     {% endfor %}
                    </td>
                   
                    <td><a href="/teachers/{{teacher.id}}">View</a></td>
                </tr>
                    {% endfor %}          
            </tbody>


        </table>


    </div>

{% endblock content %}