{% extends 'layout.njk' %}

{% block content %}
    

       <p id="not-found">Member does not exist!</p>

       <script>
           setTimeout(()=> {location.href="/members"}, 1000)
       </script>
        
{% endblock content %}