<fieldset>

     <div class="inputs">

        <div class="field-name">Chef's name</div>

        <input type="text" name="chef_name" placeholder="Chef's name" value="{{chef.name}}">

    </div>

    <div class="inputs">

        <div class="field-name">Chef's avatar</div>

        <input type="url" name="chef_avatar" placeholder="http://chefImageLink.com" value="{{chef.avatar_url}}">

    </div>

</fieldset>