<script>

    const deleteForm = document.querySelector("#delete-resource")
    deleteForm.addEventListener("submit", function(event){
    const userconfimation = confirm("Clicl 'ok' to confirm deletion or 'cancel' to go back.")
    if(!userconfimation)
    event.preventDefault()
    
    })
    </script>