{% extends "layout.njk" %}

    {% block title %}<title>Foodfy Main</title>{% endblock %}
    

        {% block content %}
        <div class="background-img">
            <img src="/assets/chef.png" alt="Chef">

            <h1 class="title">The best recipes</h1>
            <p class="phrase">Learn how to make the best dishes with recipes from chefs located all over the world.</p>

        </div>


        <div>
            <h2 class="hot-topics"><a  href="/receitas">More recipes</a> </h2>
        </div>


        <Section class="cards">
            
            {% for indexRecipe in indexRecipes %}
            <div class="card" id="{{indexRecipe.id}}">

                <div class="card-img">
                    <img  src="{{indexRecipe.image}}" alt="burger">
                </div>

                <div class="card-info">
                    <h6 class="food-name">{{indexRecipe.title}}</h6>
                    <p class="food-author">{{indexRecipe.author}}</p>
                </div>
            </div>

            {% endfor %}

        </Section>

    </div>

        {% endblock %} 

   