<html>

<head>
    {%block title %}<title>Foodfy</title>{% endblock %}
    <link rel="stylesheet" href="/style.css">
    <script src="/script_receitas.js" defer></script>

</head>

<body>
    <div class="main">
        <header>

            <div class="links-top">
                <img id="logo"src="/assets/logo.png" alt="Logo Foodfy">
                <a id="sobre" href="/sobre">About</a>
                <a id="receitas" href="/receitas">Recipes</a>
            </div>
            
        </header>

        {% block content %} {% endblock %}
       
    {% block footer%}
    <footer>
        <p class="text">All rights reserved, Foodfy recipes.</p>
    </footer>
    {% endblock %}

<script id="__bs_script__">//<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.12'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>

</html>