{% extends "layout.njk" %}

    {% block title %}<title>Foodfy Recipes</title>{% endblock %}
    
        {% block content %}
        <Section class="cards">

            {% for recipe in recipes %}

            <div  class="card" id="{{recipe.id}}">
                <div class="card-img">
                    <img  src="{{recipe.image}}"alt="burger">
                </div>

                <div class="card-info">
                    <h6 class="food-name">{{recipe.title}}</h6>
                    <p class="food-author">{{recipe.author}}</p>
                </div>
            </div>

            {% endfor %}
            
        </Section>
    </div>

  
      {% endblock%}

   
 

