<fieldset>

    <div class="inputs">

        <div class="field-name">Recipe image</div>

        <input type="url" name="recipe_image" placeholder="http://recipeImageLink.com" value="{{recipes.recipe_image}}">

    </div>

    <div class="inputs">

        <div class="field-name">Recipe title</div>

        <input type="text" name="recipe_title" placeholder="Recipes' title" value="{{recipes.recipe_title}}">

    </div>

    <div class="inputs">

        <div class="field-name">Recipes' author</div>

        <input type="text" name="recipe_author" value="{{recipes.recipe_author}}">

    </div>

    <div class="inputs">

        <div>Ingredients</div>

        <div id="ingredients-fields">

            <div class="ingredient-field">
                <input type="text" name="ingredients[]" placeholder="Ingredient" value="{{ingredient}}">

            </div>

        </div>

        <button type="button" id="new-ingredients">Add new ingredients</button>

    </div>

    <div class="inputs">

        <div>Preparation</div>

        <div id="steps-fields">

            <div class="step-field">
                <input type="text" name="steps[]" placeholder="Steps" value="{{step}}">
            </div>

        </div>
        <button type="button" id="new-steps">Add new steps</button>
    </div>

    <div class="inputs">

        <div>More information</div>

        <textarea name="add_information" placeholder="Type more info" cols="40" rows="5"></textarea>

    </div>

</fieldset>