{% extends 'layout.njk' %}

{% block content %}
    
    <div class="card table-container">
        
        <a href="/instructors/create">New</a>

        <table width="100%">
            <thead>
                <tr>
                    <th>Instructor</th>
                    <th>Services</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for instructor in instructors %}
                <tr>                    
                    <td><span style="background-image: url({{instructor.avatar_url}}"></span>{{instructor.name}}</td>
                    <td>
                    {% for service in instructor.services %}
                    <span>{{service}}</span>
                     {% endfor%}   
                    <td><a href="/instructors/{{instructor.id}}">View</a></td>

                </tr>
                {% endfor %}

            </tbody>

        </table>
    
    </div>
        
{% endblock content %}