{% extends 'layout.njk' %}
  {% block head %}

        <title>Student profile</title> 
        <link rel="stylesheet" href="/form.css"/>
    
    {% endblock %}

{% block content %}

<form class="card" method="POST" action="/students?_method=PUT">

    <section class="image" style="background:url({{student.avatar_url}}) no-repeat center center /cover"></section>

     <section class="details">

         <div id="title">Edit student</div>
        
            {% include "students/fields.njk" %}

            <input 
            type="hidden" 
            name="id" 
            value="{{student.id}}"/>

</form>

<form id="delete-resource" method="POST" action="/students?_method=DELETE">
            <input type="hidden"
            name="id"
            value="{{student.id}}"/>

            <button id="confirm-deletion" type="submit">Delete</button>

</form>

{% include "resource_deletion/confirm.njk" %}

</section>

{% endblock content %}