

{% extends "layout.njk" %}

{% block title %} 
    <title>Page Not Found</title>
{% endblock %}


{% block linksheader %}    
    <div class="not-found">
            <h1>Erro 404  - pagina nao encontrada.</h1>
    </div>
{% endblock %}

{% block content %}

    <div class="not-found">
         <img src="https://ik.imagekit.io/cnbmdh4b9w/404-Page-Not-Found_nqR_L0rZl.png">
    </div>

{% endblock %}