{% extends 'layout.njk' %}

{% block content %}
    
    <div class="card table-container">

         <div class="header">
        <a class="button" href="/members/create">New</a>
        <form method=GET action="/members/">
            <input type="text" 
            name="filter"
            placeholder="Filter by name or email"
            value="{{filter}}">

            <button type="submit">Filter</button>
        </form>

        </div>

        <table width="100%">
            <thead>
                <tr>
                    <th>Member</th>
                    <th>Email</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for member in members %}
                <tr>                    
                    <td><span style="background-image: url({{member.avatar_url}}"></span>{{member.name}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.weight}}</td>
                    <td>{{member.height}}</td>
                     
                    <td><a href="/members/{{member.id}}">View</a></td>

                </tr>
                {% endfor %}

            </tbody>
        </table>

        
        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}} >

        </div>
    
    </div>
        
{% endblock content %}