 
 
 <div class="item">
                <div>Avatar URL</div>
                <div>
                        <input type="url"
                                name="avatar_url"
                                placeholder="http://" 
                                value="{{ instructor.avatar_url}}"                                    
                        >
                </div>
            </div>

            <div class="item">
                <div>Instructor</div>
                <div>
                        <input type="text" 
                                name="name"
                                placeholder="Instructor' name"  
                                value="{{ instructor.name}}"                                   
                        >
                </div>
            </div>

            <div class="item">
                <div>Date of birth</div>
                <div>
                    
                         <input type="date" 
                                name="dob"
                                value="{{instructor.dob}}">
                            
                </div>
            </div>

            <div class="item">
                <div>Gender</div>
                <div>
                    <span>
                        <input 
                        id="male"
                        type="radio" 
                        name="gender" 
                        value="M" 
                        {% if instructor.gender  =="M" %}
                        checked
                        {% endif %}><label for="male">Male</label>
                    </span>

                    <span>
                        <input
                        id="female"
                        type="radio" 
                        name="gender" 
                        value="F" 
                        {% if instructor.gender =="F" %}
                        checked
                        {% endif %}><label for="female">Female</label></span>

                </div>
            </div>

            <div class="item">
                <div>Services</div>

                <div>
                   <input type="text" 
                          name="services"
                          placeholder="Separate services by a comma ','"
                          value="{{instructor.services}}">
                          
                </div>

            </div>

                <button type="submit">Save</button>